html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'helvetica neue light', 'helvetica neue', helvetica, sans-serif;
}

#app {
    background-color: #666;
    width: 100%;
    height: 100%;
}