/* Search page */

.search-box {
    margin: 0 auto;
    padding: 30px;
    background-color: #333;
}

.search-box label {
    padding: 0 5px;
    vertical-align: text-top;
    color: lightcoral;
    text-transform: uppercase;
}

.search-box .search-field-wrapper {
    padding: 40px 0 10px 5px;
    border-bottom: 3px solid #fff;
}

.search-box #search-field {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 80%;
    vertical-align: bottom;

    color: white;
    font-size: 200%;
}

.search-box #search-field:focus {
    outline: none;
}

.search-box #search-button {
    display: inline-block;
    width: 14%;
    margin: 0 0 5px 4%;
    padding: 10px 0;
    border: 0;
    background-color: #f08080;
    font-family: fontawesome, sans-serif;
    font-size: 150%;
    color: white;
    cursor: pointer;
}

.search-box #search-button:focus,
.search-box #search-button:hover {
    outline: 0;
    background-color: #f98989;

}

/* Search results */

.search-results {
    background-color: #333;
    color: white;
}

.search-results .stop {
    padding: 10px;
    transition: all 0.1s linear;
}

.search-results .stop:hover {
    background-color: #4d4d4d;
}

.search-results .stop.selected {
    background-color: darkolivegreen;
}
