.searchBox {
    margin: 0 auto;
    padding: 30px;
    background-color: #333;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.searchBox label {
    padding: 0 5px;
    vertical-align: text-top;
    color: lightcoral;
    text-transform: uppercase;
}

.searchBox .searchFieldWrapper {
    padding: 20px 0 5px 5px;
    border-bottom: 3px solid #fff;
}

.searchBox #searchField {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 80%;

    color: white;
    font-size: 200%;
}

.searchBox #searchField:focus {
    outline: none;
}

.searchBox #searchButton {
    display: inline-block;
    width: 14%;
    margin: 0 0 10px 4%;
    padding: 10px 0;
    border: 0;
    background-color: #f08080;
    font-family: fontawesome, sans-serif;
    font-size: 150%;
    color: white;
    cursor: pointer;
}

.searchBox #searchButton:focus,
.searchBox #searchButton:hover {
    outline: 0;
    background-color: #f98989;

}